
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Discover The Enchanting Haors of Bangladesh">

  <!-- Site Title -->
  <title>Amar Haor - Discover The Enchanting Haors of Bangladesh</title>

  <!-- Place favicon.ico in the root directory -->
  <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome-pro.min.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/meanmenu.css">
  <link rel="stylesheet" href="assets/css/swiper.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <div class="body-overlay"></div>


  <!-- start: Hamburger Menu -->
  <div class="hamburger-area">
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
      <div class="hamburger_top d-flex align-items-center justify-content-between">
        <div class="hamburger_logo">
          <a href="index.html"><img src="./assets/images/logos/logo.png" alt="LOGO"></a>
        </div>
        <div class="hamburger_close">
          <button class="hamburger_close_btn"><i class="fa-thin fa-times"></i></button>
        </div>
      </div>

      <div class="hamburger_menu">
        <div class="mobile_menu"></div>
      </div>
      <!-- 
      <div class="hamburger_bottom d-md-none">
        <a href="#" class="btn">client login</a>
      </div> -->
    </div>
  </div>
  <!-- end: Hamburger Menu -->

  <!-- start: Header Area -->
  <header class="site-header header-absolute">
    <div class="header_topbar">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="topbar_content">
              <div class="topbar_content_left">
                <ul class="contact_list">
                  <li><a href="tel:012-3589785"><i class="fa-light fa-phone"></i>012-3589785</a></li>
                  <li><a href="mailto:contact@amarhaor.bd"><i class="fa-light fa-envelope"></i>Contact us</a></li>
                </ul>
              </div>
              <div class="topbar_content_right">
                <ul class="social_list">
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
                <div class="header_lang">
                  <span>ENG</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_header">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="main_header_wrapper">

              <div class="site_logo">
                <a href="/" class="logo"><img src="./assets/images/logos/logo.png" alt=""></a>
              </div>

              <nav class="primary_menu d-none d-md-inline-flex">
                <ul>
                  <li><a href="/haor-list">List of Haors</a></li>
                  <li><a href="#">Information</a></li>
                  <li><a href="#">Toursim</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </nav>

              <div class="mega_menu_bars d-none d-md-inline-flex">
                <div class="mega_menu_bars_inner">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>

              <div class="menu_bar d-md-none">
                <a href="javascript:void(0)" class="bars"><i class="fa-light fa-bars"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mega_menus">
      <div class="mega_menu_title">
        <h6 class="title">LIST OF HAORS</h6>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mega_menu_wrap">
              <div class="mega_menu_wrap_item">
                <a href="/haor/tanguar-haor" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-1.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">TANGUAR HAOR</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-2.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">HAKALUKI HAOR</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-3.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">TANGUAR HAOR</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-4.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">BISHWAMBARPUR</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-5.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">CHHATAK</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-6.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">TANGUAR HAOR</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-7.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">NIKLI HAOR</h6>
                  </div>
                </a>
              </div>
              <div class="mega_menu_wrap_item">
                <a href="#" class="mega_menu_wrap_item_inner">
                  <div class="haor_image">
                    <img src="./assets/images/haors/mega-menu-8.jpg" alt="">
                  </div>
                  <div class="haor_name">
                    <h6 class="name">TANGUAR HAOR</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mega_menu_button">
        <a href="#" class="btn-inline">VIEW ALL</a>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->

  <main id="primary" class="site-main">

    <!-- start: Hero Section -->
    <section class="hero-section">

      <div class="hero_video_wrap" data-bg-image="./assets/images/hero/hero.jpg">
        <video id="topVideo" loop autoplay muted>
          <source src="./assets/video/hero-video.mp4" type="video/mp4">
        </video>
<button class="muteVideoBtn" style="position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 10px;
    background-color: var(--ss-color-theme-primary);
    z-index: 10;
    border-radius: 6px;"><i class="muteVideoBtnIcon fa-light fa-volume fa-volume-mute" style="color: #fff;
    font-weight: bold;"></i></button>

<button class="playVideoBtn" style="position: absolute;
    width: 40px;
    height: 40px;
    right: 60px;
    bottom: 10px;
    background-color: var(--ss-color-theme-primary);
    z-index: 10;
    border-radius: 6px;"><i class="playVideoBtnIcon fa-light fa-pause" style="color: #fff;
    font-weight: bold;"></i></button>
    
      </div>

      <div class="scroll_down">
        <a href="#explore" class="scroll_text">Scroll down</a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="hero_content">
              <div class="hero_content_title">
                <h1 class="title">Discover the Enchanting Haors of Bangladesh</h1>
              </div>
              <div class="hero_content_desc">
                <p>Find your next destination to visit in haors</p>
              </div>
              <div class="hero_content_search">
                <form action="#" class="hero_search">
                  <input type="text" name="haor" id="haor" placeholder="Type haor or wetland name">
                  <select name="district" id="district">
                    <option selected>District</option>
                    <option value="Sylhet">Sylhet</option>
                    <option value="Sunamganj">Sunamganj</option>
                    <option value="Netrakona">Netrakona</option>
                    <option value="Kishoregonj">Kishoregonj</option>
                    <option value="Habiganj">Habiganj</option>
                    <option value="Maulvibazar">Maulvibazar</option>
                    <option value="brahamanbaria">brahamanbaria</option>
                  </select>
                  <select name="thana" id="thana">
                    <option selected>Thana</option>
                    <option value="Osmaninagar">Osmaninagar</option>
                    <option value="Golapganj">Golapganj</option>
                    <option value="Vishwanath">Vishwanath</option>
                    <option value="Biyanibazar">Biyanibazar</option>
                    <option value="Kanaighat">Kanaighat</option>
                    <option value="Jaintapur">Jaintapur</option>
                    <option value="Companyganj">Companyganj</option>
                    <option value="Balaganj">Balaganj</option>
                    <option value="Fenchuganj">Fenchuganj</option>
                    <option value="Goainghat">Goainghat</option>
                    <option value="Jokiganj">Jokiganj</option>
                  </select>

                  <button type="submit"><i class="fa-light fa-search"></i>Find</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Hero Section -->

    <!-- start: Exploring Section -->
    <section class="exploring-section" id="explore">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h3 class="title">Exploring the Haors of Bangladesh</h3>
              <p>Embark on a journey to uncover the mesmerizing beauty and rich cultural heritage of Bangladesh's haors.
                Dive into the heart of this enchanting world as we explore the serene waters, lush landscapes, and
                captivating stories that make these lakes a treasure trove of natural wonders and cultural significance.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="explore_haors grid">
              <div class="gutter-sizer"></div>

              <div class="explore_card grid-item grid-item--width2">
                <a href="#" class="explore_card_inner">
                  <div class="explore_card_img">
                    <img src="./assets/images/explore/explore-1.jpg" alt="">
                  </div>
                  <div class="explore_card_content">
                    <h4 class="title">Bishwambarpur</h4>
                  </div>
                </a>
              </div>

              <div class="explore_card grid-item grid-item--width1">
                <a href="#" class="explore_card_inner">
                  <div class="explore_card_img">
                    <img src="./assets/images/explore/explore-2.jpg" alt="">
                  </div>
                  <div class="explore_card_content">
                    <h4 class="title">Chhatak</h4>
                  </div>
                </a>
              </div>

              <div class="explore_card grid-item grid-item--width1">
                <a href="#" class="explore_card_inner">
                  <div class="explore_card_img">
                    <img src="./assets/images/explore/explore-3.jpg" alt="">
                  </div>
                  <div class="explore_card_content">
                    <h4 class="title">Dakshin Sunamganj</h4>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Exploring Section -->

    <!-- start: Statistics Section -->
    <section class="statistics_section overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="statistic_wrap">
              <div class="statistic_wrap_heading text-center">
                <h6 class="title">STATISTICS</h6>
              </div>

              <div class="statistics_info">
                <div class="statistics_info_item">
                  <div class="statistics_info_item_inner">
                    <h4 class="title">Haors</h4>
                    <div class="stat">357</div>
                  </div>
                </div>
                <div class="statistics_info_item">
                  <div class="statistics_info_item_inner">
                    <h4 class="title">Area</h4>
                    <div class="stat">284,272 Hec.</div>
                  </div>
                </div>
                <div class="statistics_info_item">
                  <div class="statistics_info_item_inner">
                    <h4 class="title">Projects</h4>
                    <div class="stat">154</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Statistics Section -->

    <!-- stat: Featured Haors -->
    <section class="featured-haors">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h6 class="subtitle">FEATURED HAORS</h6>
              <h3 class="title">Popular Haors in Bangladesh</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="featured_haors_carousel swiper-container swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-1.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Tanguar Haor</h4>
                    <p class="haor_address">Derai, Sunamganj</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-2.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Banaiya Haor</h4>
                    <p class="haor_address">Balaganj, Sylhet</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-3.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Boro Haor</h4>
                    <p class="haor_address">Kanaighat, Sylhet</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-4.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Gungiajuri</h4>
                    <p class="haor_address">Bahubal, Habiganj</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-5.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Hakaluki</h4>
                    <p class="haor_address">Barlekha, Maulvibazar</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-2.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Medar Beel</h4>
                    <p class="haor_address">Barhatta, Netrakona</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-4.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Mithamain</h4>
                    <p class="haor_address">Austagram, Kishoreganj</p>
                  </div>
                </div>
                <div class="swiper-slide featured_haor">
                  <div class="featured_haor_img" data-bg-image="./assets/images/haors/haor-3.jpg"></div>
                  <a href="#" class="featured_link"></a>
                  <div class="featured_haor_content">
                    <h4 class="haor_name">Dattakhola</h4>
                    <p class="haor_address">Akhaura, Brahmanbaria</p>
                  </div>
                </div>
              </div>

              <!-- Add Pagination -->
              <div class="featured_haors_nav">
                <span class="featured_haors_nav-prev"><i class="fas fa-arrow-left"></i></span>
                <span class="featured_haors_nav-next"><i class="fas fa-arrow-right"></i></span>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="view_all">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="view_all_btn text-center">
                <a href="#" class="btn">view all</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Featured Haors -->

    <!-- start: Haor Map -->
    <section class="haor-map">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h3 class="title">Haor Map</h3>
              <p>Embark on a journey to uncover the mesmerizing beauty and rich cultural heritage of Bangladesh's haors.
                Dive into the heart of this enchanting world as we explore the serene waters, lush landscapes, and
                captivating stories that make these lakes a treasure trove of natural wonders and cultural significance.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="haor_map">
              <img src="./assets/images/haor-map/map.jpg" alt="">

              <div class="haor_map_hover">
                <a href="#" class="netrakona"><img src="./assets/images/haor-map/netrakona.png" alt=""
                    title="Netrakona"></a>
                <a href="/sunamganj" class="sunamganj"><img src="./assets/images/haor-map/sunamganj.png" alt=""
                    title="Sunamganj"></a>
                <a href="#" class="sylhet"><img src="./assets/images/haor-map/sylhet.png" alt="" title="Sylhet"></a>
                <a href="#" class="kishoreganj"><img src="./assets/images/haor-map/kishoreganj.png" alt=""
                    title="Kishoreganj"></a>
                <a href="#" class="habiganj"><img src="./assets/images/haor-map/habiganj.png" alt=""
                    title="Habiganj"></a>
                <a href="#" class="moulavibazar"><img src="./assets/images/haor-map/moulavibazar.png" alt=""
                    title="Moulavibazar"></a>
                <a href="#" class="brahmanbaria"><img src="./assets/images/haor-map/brahmanbaria.png" alt=""
                    title="Brahmanbaria"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Haor Map -->

    <!-- start: Conversion Effect -->
    <section class="conversion-effect-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h3 class="title">Conservation Effects</h3>
              <p>Embark on a journey to uncover the mesmerizing beauty and rich cultural heritage of Bangladesh's haors.
                Dive into the heart of this enchanting world as we explore the serene waters, lush landscapes, and
                captivating stories that make these lakes a treasure trove of natural wonders and cultural significance.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="conversion_effects">
              <div class="conversion_effects_item item_big">
                <a href="/statistic" class="conversion_effects_item_inner">
                  <div class="effect_image">
                    <img src="./assets/images/effects/effect-1.jpg" alt="">
                  </div>
                  <div class="effect_content">
                    <h4 class="title">Haor Statistics</h4>
                    <p>Brief introduction to bird sanctuaries, their importance, and their role in bird conservation.
                      Brief introduction to bird sanctuaries, their importance, and their role in bird conservation.
                      Brief
                      introduction to bird sanctuaries, their importance, and their role in bird conservation.</p>
                  </div>
                </a>
              </div>
              <div class="conversion_effects_item">
                <a href="/bird" class="conversion_effects_item_inner">
                  <div class="effect_image">
                    <img src="./assets/images/effects/effect-2.jpg" alt="">
                  </div>
                  <div class="effect_content">
                    <h4 class="title">Bird Sanctuary</h4>
                    <p>Brief introduction to bird sanctuaries, their importance, and their role in bird conservation.
                    </p>
                  </div>
                </a>

              </div>
              <div class="conversion_effects_item">
                <a href="/fish" class="conversion_effects_item_inner">
                  <div class="effect_image">
                    <img src="./assets/images/effects/effect-3.jpg" alt="">
                  </div>
                  <div class="effect_content">
                    <h4 class="title">Fish Sanctuary</h4>
                    <p>Brief introduction to bird sanctuaries, their importance, and their role in bird conservation.
                    </p>
                  </div>

                </a>
              </div>
              <div class="conversion_effects_item">
                <a href="#" class="conversion_effects_item_inner">
                  <div class="effect_image">
                    <img src="./assets/images/effects/effect-4.jpg" alt="">
                  </div>
                  <div class="effect_content">
                    <h4 class="title">Plant</h4>
                    <p>Brief introduction to bird sanctuaries, their importance, and their role in bird conservation.
                    </p>
                  </div>
                </a>
              </div>
              <div class="conversion_effects_item">
                <a href="#" class="conversion_effects_item_inner">
                  <div class="effect_image">
                    <img src="./assets/images/effects/effect-5.jpg" alt="">
                  </div>
                  <div class="effect_content">
                    <h4 class="title">Climate</h4>
                    <p>Brief introduction to bird sanctuaries, their importance, and their role in bird conservation.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Conversion Effect -->

    <!-- start: Report Section -->
    <section class="report-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-4 col-lg-5 col-md-7">
            <div class="section_title">
              <h3 class="title">Haor Statistics and Insights</h3>
              <p>Stay up to date with our tourism and hospitality industry reports.</p>
              <a href="#" class="btn">VIEW ALL</a>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="row">
              <div class="col-md-4">
                <div class="report">
                  <div class="report_img">
                    <img src="./assets/images/report/report-1.jpg" alt="">
                  </div>
                  <div class="report_content">
                    <h4 class="title"><a href="#">Summary Report 2023</a></h4>
                    <p>Master plan of Haor Area Summary Report for April 2022</p>
                    <a href="#" class="btn-inline">DOWNLOAD <i class="fa-regular fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="report">
                  <div class="report_img">
                    <img src="./assets/images/report/report-2.jpg" alt="">
                  </div>
                  <div class="report_content">
                    <h4 class="title"><a href="#">Summary Report 2022</a></h4>
                    <p>Master plan of Haor Area Summary Report for April 2022</p>
                    <a href="#" class="btn-inline">DOWNLOAD <i class="fa-regular fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="report">
                  <div class="report_img">
                    <img src="./assets/images/report/report-3.jpg" alt="">
                  </div>
                  <div class="report_content">
                    <h4 class="title"><a href="#">Summary Report 2021</a></h4>
                    <p>Master plan of Haor Area Summary Report for April 2022</p>
                    <a href="#" class="btn-inline">DOWNLOAD <i class="fa-regular fa-arrow-right-long"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Report Section -->

    <!-- start: Tourism Section -->
    <section class="tourism-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h3 class="title">Recreation and Tourism</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="tourism">
              <a href="/resort" class="tourism_inner">
                <div class="tourism_img">
                  <img src="./assets/images/tourism/tourism-1.jpg" alt="">
                </div>
                <div class="tourism_content">
                  <h4 class="title">Resort List</h4>
                  <p class="desc">Locations and contacts</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="tourism">
              <a href="#" class="tourism_inner">
                <div class="tourism_img">
                  <img src="./assets/images/tourism/tourism-2.jpg" alt="">
                </div>
                <div class="tourism_content">
                  <h4 class="title">Nearby Attractions</h4>
                  <p class="desc">Nearby Attractions</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="tourism">
              <a href="/travel" class="tourism_inner">
                <div class="tourism_img">
                  <img src="./assets/images/tourism/tourism-3.jpg" alt="">
                </div>
                <div class="tourism_content">
                  <h4 class="title">Travel Tips</h4>
                  <p class="desc">Best times to visit, and safety tips.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end: Tourism Section -->

    <!-- start: Gallery Section -->
    <section class="gallery-section">
      <div class="gallery-section_inner owl-carousel">
        <a class="gallery_img" href="./assets/images/gallery/gallery-big-1.jpg">
          <img src="./assets/images/gallery/gallery-1.jpg" alt="">
        </a>
        <a class="gallery_img" href="./assets/images/gallery/gallery-big-2.jpg">
          <img src="./assets/images/gallery/gallery-2.jpg" alt="">
        </a>
        <a class="gallery_img" href="./assets/images/gallery/gallery-big-3.jpg">
          <img src="./assets/images/gallery/gallery-3.jpg" alt="">
        </a>
        <a class="gallery_img" href="./assets/images/gallery/gallery-big-4.jpg">
          <img src="./assets/images/gallery/gallery-4.jpg" alt="">
        </a>
        <a class="gallery_img" href="./assets/images/gallery/gallery-big-5.jpg">
          <img src="./assets/images/gallery/gallery-5.jpg" alt="">
        </a>
      </div>
    </section>
    <!-- end: Gallery Section -->
  </main>

  <!-- start: Footer Area -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer_widget">
            <div class="site_info">
              <div class="footer_logo">
                <a href="#" class="logo"><img src="./assets/images/logos/footer-logo.png" alt=""></a>
              </div>
              <p class="desc">Embark on a journey to uncover the mesmerizing beauty and rich cultural heritage of
                Bangladesh's haors. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer_widget">
            <h6 class="widget_title">QUICK LINKS</h6>

            <nav class="widget_menu">
              <ul>
                <li><a href="#">List of Haors</a></li>
                <li><a href="#">Geographic information</a></li>
                <li><a href="#">Socioeconomic information</a></li>
                <li><a href="#">Toursim</a></li>
                <li><a href="#">Coservation</a></li>
                <li><a href="#">Important links</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer_widget">
            <h6 class="widget_title">QUICK LINKS</h6>

            <nav class="widget_menu">
              <ul>
                <li><a href="#">List of Haors</a></li>
                <li><a href="#">Geographic information</a></li>
                <li><a href="#">Socioeconomic information</a></li>
                <li><a href="#">Toursim</a></li>
                <li><a href="#">Coservation</a></li>
                <li><a href="#">Important links</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer_widget">
            <h6 class="widget_title">QUICK LINKS</h6>

            <ul class="socials">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
          <div class="footer_widget">
            <h6 class="widget_title">ADDRESS</h6>
            <p class="address">Porjoton Bhaban (Level-9), Plot: E-5, C/1, West Agargaon, Sher-E Bangla Nagar (
              Administrative Area), Dhaka-1207</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="footer_bottom">
            <div class="copyright_text">
              <p>2023 Copyright Amar Haor. All rights reserved.</p>
            </div>
            <nav class="footer_menu">
              <ul>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookie settings</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end: Footer Area -->


  <!-- JS here -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/nice-select.js"></script>
  <script src="assets/js/meanmenu.js"></script>
  <script src="assets/js/swiper.js"></script>
  <script src="assets/js/magnific-popup.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/owl.carousel.thumbs.min.js"></script>
  <script src="assets/js/imagesloaded-pkgd.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
    $(".muteVideoBtn").click(function () {
        let video = $("#topVideo");
        if (video.prop('muted')) {
            video.prop('muted', false);
            $(".muteVideoBtnIcon").removeClass('fa-volume-mute');
        } else {
            video.prop('muted', true);
            $(".muteVideoBtnIcon").addClass('fa-volume-mute');
        }
        console.log(video.prop('muted'))
    });
    $(".playVideoBtn").click(function () {
        let video = $("#topVideo").get(0);
        if (video.paused) {
            video.play();
            $(".playVideoBtnIcon").removeClass('fa-play');
        } else {
            video.pause();
            $(".playVideoBtnIcon").addClass('fa-play');
        }
    });
    </script>
</body>

</html>