@use "../utilities" as *;

/**----------------------------------------
START: Featured Haors CSS
----------------------------------------*/
.featured-haors {
	padding-top: 70px;
	padding-bottom: 60px;
	background-color: var(--ss-color-theme-bg-light);

	.section_title {
		margin-bottom: 38px;
	}

	.view_all_btn {
		margin-top: 10px;
	}

	@media #{$xs, $sm} {
		padding-top: 60px;
	}
}
.featured_haors_carousel {
	margin-bottom: 60px;
	position: relative;

	@media #{$xs, $sm} {
		margin-bottom: 40px;
	}
}
.featured_haor {
	height: 500px;
	width: 325px;
	display: flex;
	align-items: end;
	position: relative;
	overflow: hidden;
	z-index: 1;

	.featured_haor_img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-size: cover;
		background-position: center;
		@include transition(all 2s ease);
	}

	.featured_link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 225px;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
		z-index: -1;
		@include transition(height 1s ease);
	}

	&_content {
		padding: 30px 25px;

		.haor_name {
			color: var(--ss-color-common-white);
			margin-bottom: 5px;
		}
		.haor_address {
			font-size: 14px;
			color: var(--ss-color-common-white);
			display: inline-block;
			margin-bottom: 0;
			line-height: 1.3;
		}
	}

	// &:hover {
	// 	.featured_haor_img {
	// 		@include transform(scale(1.15));
	// 	}
	// 	&::after {
	// 		height: 100%;
	// 	}

	// 	.featured_haor_content {
	// 		.haor_name {
	// 			color: var(--ss-color-theme-primary);
	// 		}
	// 	}
	// }

	@media #{$lg} {
		height: 450px;
	}
	@media #{$xs, $sm, $md} {
		height: 350px;
	}
}
.featured_haors_nav {
	&-prev,
	&-next {
		width: 24px;
		height: 24px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 22px;
		line-height: 1;
		color: var(--ss-color-common-white);
		position: absolute;
		left: 15%;
		bottom: 10%;
		z-index: 2;

		&:hover {
			i {
				color: var(--ss-color-theme-primary);
			}
		}
	}

	&-next {
		left: auto;
		right: 15%;
	}
}
/* !END: Featured Haors CSS */
