@use "../utilities" as *;

/**----------------------------------------
START: More Haors CSS
----------------------------------------*/
.more-haors {
	padding-top: 80px;
	padding-bottom: 130px;

	.section_title {
		margin-bottom: 50px;
	}

	@media #{$xs, $sm} {
		padding-top: 30px;
		padding-bottom: 60px;

		.section_title {
			margin-bottom: 40px;
		}
	}
}
.haor_lists {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		column-count: 3;
		column-gap: 30px;

		li {
			a {
				display: inline-block;
				font-size: 24px;
				line-height: 2;

				&:hover {
					color: var(--ss-color-theme-primary);
					text-decoration: underline;
					text-decoration-thickness: 1px;
				}
			}
		}
	}

	@media #{$xs, $sm} {
		ul {
			column-count: 2;
			column-gap: 20px;

			li {
				a {
					font-size: 16px;
				}
			}
		}
	}
}
/* !END: More Haors CSS */
