@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: #fff;
  position: relative;
  color: #1d2124;
  overflow-x: hidden;
}
html body a {
  color: #fff;
  text-decoration: none;
}
html body a:hover {
  color: #ddd;
  text-decoration: none;
}

.navbar.navbar-light {
  padding: 5px 0;
}
.navbar.navbar-light .navbar-brand .top-logo {
  display: block;
}
.navbar.navbar-light .navbar-brand .logo-topfix {
  display: none;
}
.navbar.navbar-light .socialmedia-icons {
  padding: 10px 0;
  margin-bottom: 0;
  line-height: normal;
}
.navbar.navbar-light .socialmedia-icons li {
  display: inline;
  padding: 0 22px 0 0;
  font-size: 16px;
}
.navbar.navbar-light .socialmedia-icons li a {
  color: #fff;
}
.navbar.navbar-light .socialmedia-icons li:last-child {
  padding: 0;
}
.navbar.navbar-light .navbar-nav .nav-item {
  padding: 0px 10px;
}
@media (max-width: 991px) {
  .navbar.navbar-light .navbar-nav .nav-item {
    padding-left: 0;
  }
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  transition: all 0.5s ease-in;
  color: #fff;
  font-size: 16px;
  padding: 15px 5px;
  border-bottom: 2px solid transparent;
}
@media (max-width: 991px) {
  .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    padding-left: 0;
    transition: none;
  }
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link.active,
.navbar.navbar-light .navbar-nav .nav-item .show > .nav-link {
  border-bottom: 2px solid #fff;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link:focus,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid #fff;
}
.navbar.navbar-light .logo {
  width: 85px;
}
.navbar.navbar-light .navbar-toggler {
  color: #fff;
  border-color: transparent;
  padding: 2px 7px;
}
.navbar.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}
.navbar.navbar-light .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5em;
  font-size: 21px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: #fff;
  box-shadow: 0 0 5px #333;
}
.fixed-top.fixed-logo .navbar-brand .top-logo {
  display: none;
}
.fixed-top.fixed-logo .navbar-brand .logo-topfix {
  display: block;
}
.fixed-top .nav-link {
  color: #000 !important;
}
.fixed-top .container {
  padding: 0;
}
.fixed-top .nav-link.active,
.fixed-top .show > .nav-link {
  border-bottom: 2px solid #000 !important;
}
.fixed-top .socialmedia-icons li a {
  color: #000 !important;
}
.fixed-top .navbar-toggler {
  color: #000 !important;
}

.navbar .container {
  padding: 0;
}

@media (max-width: 991px) {
  .navbar {
    padding-bottom: 0;
  }
  .navbar .navbar-brand {
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
  .navbar .navbar-collapse {
    background: #fff;
    text-align: center;
  }
  .navbar .navbar-collapse.show .nav-item .nav-link {
    color: #000;
  }
  .navbar .navbar-collapse.show .socialmedia-icons li a {
    color: #000;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 991px) {
  .header .col-12 {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .header .container {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .fixed-top .container {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }

  .navbar .container {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
}
/******Home*******/
.slider-container {
  height: 73.5vw;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  width: 100vw;
}
@media (max-width: 991px) {
  .slider-container {
    height: 100vh;
  }
}
.slider-container figure {
  background-image: url(../images/topsection-after.jpg);
  background-size: cover;
  font-size: 0;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}
.slider-container #compare {
  background-image: url(../images/topsection.jpeg);
  background-size: cover;
  bottom: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  box-shadow: 10px 0 15px -13px #000;
  height: 100%;
  max-width: 98.6%;
  min-width: 0.6%;
  overflow: visible;
  position: absolute;
  width: 50%;
  animation: first 2s 1 normal ease-in-out 0.1s;
  -webkit-animation: first 2s 1 normal ease-in-out 0.1s;
}
.slider-container input#slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  cursor: col-resize;
  height: 100vw;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  top: -100vw;
  width: 100%;
}
.slider-container input#slider::-moz-range-track {
  background: transparent;
}
.slider-container input#slider::-ms-track {
  border: none;
  background-color: transparent;
  height: 100vw;
  left: 0;
  outline: none;
  position: relative;
  top: -100vw;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: col-resize;
  color: transparent;
}
.slider-container input#slider::-ms-fill-lower {
  background-color: transparent;
}
.slider-container input#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100vw;
  width: 0.5%;
  opacity: 0;
}
.slider-container input#slider::-moz-range-thumb {
  -moz-appearance: none;
  height: 100vw;
  width: 0.5%;
  opacity: 0;
}
.slider-container input#slider::-ms-thumb {
  height: 100vw;
  width: 0.5%;
  opacity: 0;
}
.slider-container input#slider::-ms-tooltip {
  display: none;
}
.slider-container #compare::before {
  background: url(../images/comparision.png) no-repeat scroll 0 center transparent;
  background-size: contain;
  content: " ";
  float: right;
  height: 100%;
  margin-right: -34px;
  position: relative;
  top: 0;
  width: 64px;
}
@keyframes first {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes first {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}
.slider-container .banner-text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  left: 50%;
  text-align: center;
}
@media (max-width: 991px) {
  .slider-container .banner-text {
    padding: 15px;
    width: 100%;
  }
}
.slider-container .banner-text p {
  font-size: 20px;
}
@media (max-width: 685px) {
  .slider-container .banner-text p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .slider-container .banner-text p {
    font-size: 14px;
  }
}
.slider-container .banner-text .banner-title {
  font-size: 55px;
  font-weight: bold;
}
@media (max-width: 685px) {
  .slider-container .banner-text .banner-title {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .slider-container .banner-text .banner-title {
    font-size: 35px;
  }
}

/****Home first section****/
.section {
  padding: 50px 0;
}

.post-container {
  font-size: 15px;
  line-height: 2;
}
.post-container:nth-child(2n+1) {
  background: #1d2124;
  color: #fff;
}
.post-container:nth-child(2n+0) {
  flex-direction: row-reverse;
  background: #fff;
  color: #1d2124;
}
@media screen and (min-width: 768px) {
  .post-container:nth-child(2n+1) {
    flex-direction: row;
  }
  .post-container:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .post-container {
    padding-bottom: 0;
  }
}
.post-container .post-text {
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .post-container .post-text {
    padding: 2rem;
  }
}
@media screen and (min-width: 991px) {
  .post-container .post-text {
    padding: 2rem 6rem;
  }
}
.post-container .post-loc-icon {
  background: transparent;
  padding: 6px 10px 6px 0;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 6px;
  line-height: 0;
}
.post-container .post-addr {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0px;
}
.post-container .post_img {
  width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
  height: 100%;
}
@media (max-width: 767px) {
  .post-container .post_img {
    padding: 2rem calc(var(--bs-gutter-x) / 2);
  }
}

/*******Contact page****/
.heading {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .heading {
    font-size: 35px;
  }
}
@media (max-width: 414px) {
  .heading {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .heading {
    font-size: 20px;
  }
}

.contact .post-container {
  font-size: 15px;
  background: #fff;
  color: #1d2124;
}
@media (min-width: 768px) {
  .contact .post-container .post-text {
    padding: 0rem 3rem;
  }
}
.contact .form-control {
  margin-bottom: 20px;
  border-color: transparent;
  border-radius: 4px;
  background-color: #f8f8f8;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 16px;
  line-height: 24px;
  color: #1d2124;
  padding: 10px 20px;
}
.contact .form-control:focus {
  box-shadow: none;
}
.contact textarea.form-control {
  height: 130px;
}

.btn-custom {
  margin-top: 20px;
  background-color: #1ca7ec;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-color: #1ca7ec;
  padding: 10px 25px;
}
.btn-custom:hover {
  background-color: transparent;
  color: #1ca7ec;
}

.list-circle {
  list-style-type: circle;
}

/***********Footer*************/
.footer {
  background: #1d2124;
  padding: 40px 0;
  color: #fff;
  position: relative;
  margin-top: 0;
  font-size: 16px;
}
.footer .footer-logo {
  width: 85px;
  margin-bottom: 10px;
}
.footer a {
  color: #fff;
}
.footer .footer-menu {
  margin-bottom: 0;
  padding: 20px 0 0;
}
@media (max-width: 575px) {
  .footer .footer-menu .dvdr {
    display: none;
  }
}
.footer .footer-menu li {
  display: inline;
  list-style: none;
  padding: 0 15px;
  font-weight: bold;
}
@media (max-width: 575px) {
  .footer .footer-menu li {
    display: block;
    padding: 10px;
  }
}
.footer .socialmedia-icons {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px 0;
  line-height: normal;
}
.footer .socialmedia-icons li {
  display: inline;
  padding: 0 30px 0 0;
}
.footer .socialmedia-icons li:last-child {
  padding: 0;
}
.footer .copyright {
  margin: 0;
}

#newcookies {
  color: #434343;
  top: unset;
  left: 0px;
  bottom: 0px;
  padding-right: 0px !important;
  height: auto;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  background: #d88304cc;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
#newcookies p {
  margin-bottom: 0;
  color: #434343;
  font-size: 14px;
}
#newcookies .btn {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #434343;
  margin-left: 1rem;
  padding: 0.15rem 0.5rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
