$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #1a1818,
	),
	text: (
		body: #656565,
	),
	theme: (
		primary: #00b65e,
		bg-light: rgba(217, 217, 217, 0.2),
		bg-dark: #1e1e1e,
	),
	grey: (
		1: #898989,
	),
	border: (
		1: #bdbdbd,
		2: #cbcbcb,
	),
);
